.footerNavColumnItem {
  &__link {
    color: var(--primary-text-color);
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-decoration: none;
  }
}